@model Person

<section>
    <article>
        <header>@Model.FirstName @Model.LastName</header>
        <p>@Model.Description</p>
        <footer>Contact @Model.FirstName at <a href="mailto:´@Model.Email">@Model.Email</a></footer>
    </article>
</section>